html, body {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #ad3127;
    height: 100vh;
    width: 100vw;
}

#intro {
    color: white;
    text-align: center;
}

form {
    margin: auto;
    text-align: center;
}

form textarea{
    resize: none;
}

/* Create three unequal columns that floats next to each other */
.column {
float: left;
padding: 10px;

}

.icon img {
    width: auto;
    height: 3.9em;
}

.icon {
    text-align: right;
}

/* columns for the header */
.icon, .links {
    color: white;
    width: 20%;
}
    
.title {
    color: white;
    width: 55%;
}

/* columns for the main body */
.teachers, .events {
    background-color: honeydew;
    color: black;
    width: 24%;
    height: 700px; /* Should be removed. Only for demonstration */
    padding: 0;
    margin: 0;
}

.map {
    background-color: white;
    width: 50%;
    height: 700px; /* Should be removed. Only for demonstration */
}

#location {
    text-align: center;
    border-color: black;
    border-style: solid;
}

#map {
    height: 650px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#profile-list img{
    height: 4em;
    width: 4em;
    border-radius: 50%;
    float: left;
}

/* @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
} */